.wp-core-ui.login .button-group.button-large .button,
.wp-core-ui.login .button.button-large,
.wp-core-ui.login .button-primary {
  background: #0c4a83;
}

.wp-core-ui .button-primary {
  border-color: #0c4a83;
}

.login label {
  width: 100%;
}